# Eclipse IDE files
/.settings/
/.buildpath
/.project

# PHPUnit results
/.phpunit.result.cache
/clover.xml
/SKien/Test/iCal/coverage/*
/SKien/Test/iCal/log/*

# wiki is an independent own git
/wiki/

# exclude following while development for better overview...
# /demodata
# /*.php
